.stepper {
  overflow: hidden;
  width: 100%;
}

.stepper__container {
  position: relative;
  display: flex;
  flex-direction: row;
  transition: left 0.6s ease;
}
.stepper__item {
  margin-top: 96px;
}

@media screen and (max-width: 820px) {
  .stepper__item {
    margin-top: 0;
  }
}
